{
  "printWidth": 90,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "parser": "flow",
  "semi": true,
  "tabs": false
}
